body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/UJ-Logo.png");
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment:fixed;
  background-color: rgb(214, 217, 193);
  background-blend-mode:lighten;
  font-size: large;
}

a{
background-color: transparent;
}

a:link, a:visited {
  background-color: #f6a39d;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* a:link {
    color: green;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
} */

a:hover {
    color: darkblue;
    background-color: yellow;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: red;
    text-decoration: underline;
  }


table{
  width: 900px;
  border-color: #f44336;
  border-width: 2px;
  border-spacing: 10px;
}

tr:hover {
  background-color: #aa6685;
}

td:hover{
  color: yellow;
  background-color: #17cb74;
  font-weight: bolder;
}

table,th, td{
  border: 5px dotted rgb(56, 161, 58);
}


td,th{
  padding: 20px;
  /* padding-top: 50px; */
  /* padding: 10px 50px 100px 3px; */
}


th{
  border-color: #f49e36;
  border-width: 3px;
  border-style: dotted;
}

td{
  border-color: #52f436;
  border-width: 2px;
  border-style: dotted;

}


/* tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
} */

caption {
  display: table-caption;
  color: darkgreen;
  text-align: center;
  font-weight: bold;
}

.web1{
  /* width: 20%;
  float: left; */
  color: red;
  /* padding-right: 30%; */
  padding: 20px;
  text-align: right;
}

.cl2{
  background-color: yellow;

}

#div2{
  color: blue;
}